.accordions-wrapper {
    .accordion {
        .card {
            margin-bottom: 20px;

            .card-header {
                .btn {
                    color: $white;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: .08em;
                    font-weight: normal;
                    padding: 0;
                    text-transform: inherit !important;
                    position: relative;

                    span {
                        padding: 11px;
                        display: inline-block;
                        background-color: $purple;
                        border-radius: 10px;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    &::after {
                        content: url(../images/icon-caret-down--purple.svg);
                        font-size: 0;
                        line-height: 0;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .3s;
                    }

                    &[aria-expanded="true"] {
                        &::after {
                            transform: translateY(-50%) rotate(-180deg);
                        }
                    }
                }
            }

            .card-body {
                padding: 0;
                padding-top: 25px;

                p {
                    letter-spacing: .025em;
                }
            }
        }
    }
}